@media screen and (max-width: 480px) and (orientation: portrait) {
  .razaCard {
    width: 80%;
    height: auto;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .razaCard .texto {
    width: 80%;
    margin: 10px 0;
  }

  main.razas {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    overflow: auto;
  }
}
